.gallery-post {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 70%;
    height: auto;
}

.gallery-post:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}