.gallery-post {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 50%;
    height: fit-content;
}

.gallery-post:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.upvote-button-gallery {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: 1.2rem;
}

.upvote-button-gallery:hover { 
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}